

@import url('https://fonts.googleapis.com/css?family=Varela+Round');



body {
  font-family: 'Varela Round', sans-serif;
}

h1.marketplace-lander-content-title {
    font-family: 'Varela Round', sans-serif;
}

.new-listing-link {
    background-color: #87d9bf!important;
}

img.home-fluid-thumbnail-grid-author-avatar-image {
    border-radius: 100px!important;
}


a.home-categories-main {
    text-transform: inherit!important;
    text-transform: capitalize!important;
    background-color: #f5f5f5!important;
    padding: 10px!important;
    margin-top: 5px!important;
}

a.home-categories-sub {
    background-color: #e8e8e8!important;
    text-transform: capitalize!important;
    margin-top: 2px!important;
    padding: 5px 10px!important;
}

/* All listing type container */
.toggle-header-container {
    background-color: white;
}

/* All listing type text */
.toggle-header {
    color: #474747 !important;
}

/* Toggle container */
.toggle-menu {
    padding: 0 20px 20px 20px;
    background-color: white;
    border-radius: 5px;
}

/* Toggle item */
.toggle-menu a, .toggle-menu a .feedback, .toggle-menu .toggle-menu-item, .toggle-menu .toggle-menu-title, .toggle-menu .toggle-menu-item .feedback, .toggle-menu .toggle-menu-title .feedback {
    color: #474747 !important;
    padding: 0.75em;
    padding-right: 0.75em;
}

.toggle.toggled {
    color: #474747!important;
}

.toggle-menu-subitem:hover {
  color: #f58d8e;
  background-color: white!important;
}

.toggle-menu a:hover {
  background-color: white;
  color: #f58d8e !important;
}

.toggle-menu a, .toggle-menu a .feedback, .toggle-menu .toggle-menu-item, .toggle-menu .toggle-menu-title, .toggle-menu .toggle-menu-item .feedback, .toggle-menu .toggle-menu-title .feedback {
    color: #474747 !important;
    padding: 0.75em;
    padding-right: 0.75em;
}

.first span:nth-child(2n+1),

.home-toolbar-share-type-menu a:nth-child(1), .toggle-menu a:nth-child(1) {
  display: none;
}
